@page
@model OdeToFood.Pages.Restaurants.ListModel
@{
}

<h1>Restaurants</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group mb-3">
            <input type="search" class="form-control" asp-for="SearchTerm" />
                <button class="btn btn-outline-secondary">
                    Search
                </button>
        </div>
    </div>
</form>

<table class="table">
    <caption>List of Restaurants</caption>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Location</th>
        <th scope="col">Cuisine</th>
        <th scope="col">Details</th>
    </tr>

    @foreach(var restaurant in Model.Restaurants)
    {
        <tr>
            <td>@restaurant.Name</td>
            <td>@restaurant.Location</td>
            <td>@restaurant.Cuisine</td>
            <td>
                <a class="btn btn-outline-secondary" asp-page="./Detail" asp-route-restaurantId="@restaurant.Id">
                    Details
                </a>
            </td>
        </tr>
    }
</table>
<div>@Model.Message</div>
